.wrap{width:105px; height:105px; margin:120px auto 30px auto; position:relative} 
.dice{width:105px; height:105px; background:url("../img/dice.png") no-repeat;} 
.dice_1{background-position:-2px -4px} 
.dice_2{background-position:-109px -4px} 
.dice_3{background-position:-216px -4px} 
.dice_4{background-position:-323px -4px} 
.dice_5{background-position:-430px -4px} 
.dice_6{background-position:-537px -4px} 
.dice_t{background-position:-109px -4px} 
.dice_s{background-position:-323px -4px} 
.dice_e{background-position:-537px -4px} 
.dice_t1{background-position:-216px -4px} 
.dice_s1{background-position:-430px -4px} 
.dice_e1{background-position:-2px -4px} 
.dice_t2{background-position:-323px -4px} 
.dice_s2{background-position:-2px -4px} 
.dice_e2{background-position:-537px -4px} 
#result{text-align:center; font-size:16px} 
#result span{font-weight:bold; color:#f30; margin:6px} 
#dice_mask{width:90px; height:90px; background:#fff; opacity:0; position:absolute; 
 top:0; left:0; z-index:999}


/*piezas*/

.piezajug1{
	position: absolute;
}
.piezajug2{
	position: absolute;
}
.piezajug3{
	position: absolute;
}
.piezajug4{
	position: absolute;
}

/*botones*/
.chattext{
	margin-top: 200px;
}


.tablero{
	width: 800px;
	position: absolute;
}
.piezajug2{
	width: 55px;
}
.piezajug1{
	width: 55px;
}
.mostrar-casilla{
	margin-top: 130px;
	position: absolute;
}
.wrap{
	position: absolute;
	width: 300px;
	margin-top: 500px;
	margin-left: 450px;
}
#messages{
	position: absolute;
	margin-top: 500px;
	overflow-y: auto;
	height: 200px;
	width: 400px;
}
.chat{
	margin-top: 500px;
	position: absolute;
	height: 10px;
}
.form-buscar{
	position: absolute;
	margin-top: 35px;
}
.buscar{
	position: absolute;
	margin-top: 70px;
}
#result{
	margin-top: 700px;
	margin-left: 500px;
	position: absolute;
}
.marcador{
	border: 1px solid black;
	width: 300px;
	height: 50px;
}
.comprar{
	position: absolute;
	width: 133px;
	height: 50px;
	margin-left: 115px;
}
.nocomprar{
	position: absolute;
	margin-left: 248px;
	width: 133px;
	height: 50px;
}
.finturno{
	position: absolute;
margin-top: 70px;
height: 50px;
margin-left: 275px;
}

#propiedades{
position: absolute;
float: right;
width: 800px;
height: 800px;
font-size: 70px;
}

.panel{
	margin-left: 815px;
width: 100%;
height: 100%;
}


.cantidad, .marcador1{
	text-align: center;
}

@media (max-width: 800px){
	.marcador{
		width: 20% !important;
	}
}