
<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<meta charset="utf-8">
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<script src="/js/chat/main.js" charset="utf-8"></script>
</head>
<body>
	<div id="messages"></div>	
	<form onsubmit="return addMessage(this)">
		<input type="text" id="username" placeholder="Tu Nombre">
		<input type="text" id="texto" placeholder="Cuéntanos algo..">
		<input type="submit" value="Enviar!">
	</form>
</body>
</html>