<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<meta charset="utf-8">
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<!--<script src="/js/chat/main.js" charset="utf-8"></script>-->
</head>
<body>
	<h1>My App</h1>
	<a href="/chat">chat</a>
	<a href="/juego">Tablero</a>
</body>
</html>