<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="css/estil.css">
	<script src="/librerias/snap.svg-min.js" charset="utf-8"></script>
	<script src="/js/tablero/tablero.js" charset="utf-8"></script>
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<script src="/js/chat/main.js" charset="utf-8"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/jquery/dice.js"></script>
	<style>
		.tablero{
			width: 800px;
			position: absolute;
		}
		.piezajug2{
			width: 40px;
			margin-left: 700px;
			margin-top: 700px;
		}
		.piezajug3{
			width: 40px;
			margin-left: 700px;
			margin-top: 700px;	
		}
		.piezajug4{
			width: 40px;
			margin-left: 700px;
			margin-top: 700px;
		}
		.piezajug1{
			width: 40px;
			margin-left: 700px;
			margin-top: 700px;
		}
		.wrap{
			float: right;
		}
	</style>
</head>
<body>
	<div style="display:none" class="wrap">
   		<div id="dice" class="dice dice_1"></div>
   		<div id="dice2" class="dice dice_1"></div>
    </div>
    <button type="button" id="result">Dados</button>
	<img class="tablero" src="/img/tablero-monopolio.jpg">
	<img class="piezajug1" src="/img/pieza1.png">
	<img class="piezajug2" src="/img/pieza2.png">
	<img class="piezajug3" src="/img/pieza3.png">
	<img class="piezajug4" src="/img/pieza4.png">
</body>
</html>